images/
sound/
music/
.*
*.qsp
*.sav
glife.txt
qgen.cfg
qspgui.cfg
avatar.*
*.jpg
*.jpeg
*.sublime-*
VideoDecodeStats/MANIFEST-000001
VideoDecodeStats/CURRENT
VideoDecodeStats/LOCK
VideoDecodeStats/LOG
VideoDecodeStats/LOG.old
